# Created by .ignore support plugin (hsz.mobi)
.idea
classes
target
data/output
data/*.sqlite
data/*-shm
data/*-wal
conf/poetconfig.xml
conf/.log
desc/type/pipeline*.xml
desc/type/*TypesStyleMap.xml
data/input/*
*.iml